* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.btn {
  display: block;
  margin: auto;
  padding: .7rem 1.5rem;
  border: none;
  color: #2c2f44;
  border-radius: .3rem;
  background: #eaebf1;
  box-shadow: 3px 3px 6px #bdbec2, -3px -3px 6px #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .025em;
  font-size: 14px;
}

.btn:hover {
  box-shadow: 3px 4px 6px 2px #bdbec2, -3px -4px 6px 2px #fff;
  transition: box-shadow .2s;
  outline: none;
}
